
@{
    ViewBag.Title = "Index";
}

<h2>Sale</h2>

<div style="height:100%">
    <div id="leftDiv" style="display:inline-block;width:20%">        
    </div>
    <div id="rightDiv" style="display:inline-block;width:78%">       
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/custom/product_index.js">
    </script>
}

