<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="WcfContext" connectionString="Data Source=(localdb)\v11.0; 
        Initial Catalog=WcfContext; Integrated Security=True; MultipleActiveResultSets=True; 
        AttachDbFilename=D:\WcfContext.mdf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="mySecurityBinding">
          <!--<security>
                        <message clientCredentialType="UserName" />
                    </security>-->
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GetMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <!--<serviceCredentials>
                      <serviceCertificate findValue="www.fabrikam.com" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
                      <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="AService.Services.MyCustomValidator,AService" />
                    </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="GetMetadata" name="AService.Services.ProductService">
        <endpoint address="http://localhost:9876/ProductService" binding="ws2007HttpBinding" bindingConfiguration="mySecurityBinding" contract="AService.Interfaces.IProductService">
          <!--<identity>
                        <dns value="www.fabrikam.com" />
                    </identity>-->
        </endpoint>
        <endpoint address="MEX" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9876/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="GetMetadata" name="AService.Services.UserService">
        <endpoint address="http://localhost:9877/UserService" binding="ws2007HttpBinding" bindingConfiguration="mySecurityBinding" contract="AService.Interfaces.IUserService">
          <!--<identity>
                        <dns value="www.fabrikam.com" />
                    </identity>-->
        </endpoint>
        <endpoint address="MEX" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9877/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>