@using Web.Models;
@using Web.Controllers;

@model ProductCategoryViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Categorys</h2>

<table>
    @foreach (var item in Model.Categorys)
    {
        <tr>
            <td>
            <span>
                @Ajax.ActionLink(item.Name,"List","Product",new  { pageIndex = 1 },new AjaxOptions {HttpMethod="Get",UpdateTargetId = "rightDiv" })
            </span>
            </td>
        </tr>        
    }
</table>



